html, body, #root {
  margin: 0;
  background:	#ECF5FF;
  height:100%;
  width: 100%;
  font-family: 'cwTeXYen', sans-serif;
}

/*整體區塊*/
.MainBlock {
  height:100%;
  width: 100%;
}

/*最上方區塊*/
#topBlock{
  display: flex;
  background: #0066CC;
  height: 8vh;
  justify-content: center;
  align-items: center;
}

.topText{
  color: #ffffff;
  font-size: 2.5vw;      
  font-family: SignPainter-HouseScript;
}

.list_css{
  margin:10px auto;
  border-width:3px;
  border-style:dashed;
  border-color:#ccc;
  border-radius:10px;
  background-color:#eee;
  display: flex;
  justify-content: center;
  align-items: center;
  width:70%;
}

.content{
  padding:4vh;
  font-size:1.1vw;
  width:60%;
  overflow: hidden;
}

@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);


/*字體樣式區域*/
  @font-face {
    font-family: SignPainter-HouseScript;
    src: url("https://plugins2.perfectcorp.com/assets/fonts/signpainter_housescript.eot");
    src: url("https://plugins2.perfectcorp.com/assets/fonts/signpainter_housescript.otf") format("opentype"); 
}

.box select {
  background-color:white; 
  color:black;
  padding: 0.8vh;
  border: none;
  font-size: 1vw;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
.box::before {
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

